#bottom {
    position: absolute;
    width: 100%;
    height: 100%
}
#bottom div {
    position: absolute;
    width: 92px;
    height: 92px;
}
#bottom div.grass-1 {
    background-image: url('images/grass-1.png');
}
#bottom div.water-1 {
    background-image: url('images/water-1.png');
}
#bottom div.wood-1 {
    background-image: url('images/wood-1.png');
}
#bottom div.road-1 {
    background-image: url('images/road-1.png');
}
#bottom div.bridge-1 {
    background-image: url('images/bridge-1.png');
}